{% extends 'base.html' %}

{% block content %}
<div>
    <h3>
        {{ question.text}}
        </a>
    </h3>
    {% if question.details %}
    <pre>{{ question.details }}</pre>
    {% endif %}
    {% for choice in question.choices.all %}
    <div>
        <a href="{% url 'questions:answer' question.pk choice.pk %}">
            {{ choice.text | linebreaks }}
        </a>
    </div>
    {% empty %}
    <div>
        No choices configured
    </div>
    {% endfor %}
    <div>
        <a href="{% url 'questions:question' %}">Next</a>
    </div>
</div>
{% endblock %}